body {
  font-family: 'Roboto';
  margin: 0;
}

.root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: hidden;
}

.Header {
  background: #243b49;
  color: white;
  flex: none;
  padding: 12px;
  text-align: center;
}

.ChatPane {
  flex: auto;
  overflow-y: auto;
}

.Footer {
  border-top: 1px solid #243b49;
  flex: none;
  padding: 12px;
}